@import "tailwindcss";

:root {
  --color-andean-emerald: #006A4E;
  --color-andean-emerald-hover: #00523C;
  --color-andean-bone: #F5F5F4;
  --color-andean-dark: #1C1917;
  
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

@theme {
  --color-andean-emerald: var(--color-andean-emerald);
  --color-andean-emerald-hover: var(--color-andean-emerald-hover);
  --color-andean-bone: var(--color-andean-bone);
  --color-andean-dark: var(--color-andean-dark);
}

body {
  background-color: var(--color-andean-bone);
  color: var(--color-andean-dark);
}